MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_username
MAIL_USERNAME1=your_username
MAIL_PASSWORD1=your_password
MAIL_USERNAME2=your_username
MAIL_PASSWORD2=your_password
MAIL_PASSWORD=your_password
MAIL_USE_TLS=True
MAIL_USE_SSL=False
UPLOAD_FOLDER=static/uploads
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
UPLOAD_FOLDER=static/uploads